{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Issue Detail{% endblock title%}

{% block content %}
<!-- <form method="post" action="#"> -->
  <br/>
  <div class="container-xl">

    <form  method='post' action={{ url_for('tracker.save', target_table='task') }} >
      <div class="row">
        <div class="col-sm-12">
          <div name="LV1_button">
            <table>
              <tr>
                <td>
                  <!-- <form  method='post' action={{ url_for('tracker.empty_form', target_data='Task') }} >
                    <button type="submit" class="btn btn-outline-success register_btn">New issue</button>
                  </form> -->
                </td>
                <td>
                  <form  method='post' action={{ url_for('bookstore.edit', target_data='Task') }} >
                    <button type="submit" class="btn btn-outline-primary register_btn">edit</button>
                  </form>
                </td>
                <td>
                  <form  method='post' action={{ url_for('bookstore.delete', target_data='Task') }} >
                    <button type="submit" class="btn btn-outline-danger register_btn">delete</button>
                  </form>
                </td>
              </tr>
            </table>
          </div>
          <div name="LV2_button" style="display: none;">
            <table>
              <tr>
                <td>
                  <button type="submit" class="btn btn-outline-primary register_btn">save</button>
                </td>
                <td>
                  <form  method='post' action={{ url_for('tracker.show_detail', target_data='task', id=item_detail.task_id) }} >
                    <button type="submit" class="btn btn-outline-primary register_btn">cancel</button>
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-12">
          <div name="divShow">
            <table class="table table-bordered">
              <tr>
                <th><center>taskID</center></th>
                <th><center>Creator</center></th>
                <th><center>Owner</center></th>
                <th><center>dueDate</center></th>
              </tr>
              <tr>
                <td> <center>{{ item_detail.taskId }}</center></td>
                <td> <center>{{ item_detail.creatorName }}</center></td>
                <td> <center>{{ item_detail.ownerName }}</center></td>
                <td> <center>{{ item_detail.dueDate }}</center></td>
              </tr>
              <tr>
                <th><center>Assigner</center></th>
                <th><center>AssignTime</center></th>
                <th><center>Status</center></th>
                <th><center></center></th>
              </tr>
              <tr>
                <td> <center>{{ item_detail.assignerName }}</center></td>
                <td> <center>{{ item_detail.assigntime }}</center></td>
                <td> <center>{{ item_detail.status }}</center></td>
                <td> <center></center></td>
              </tr>
            </table>
            <br />
            <table class="table table-bordered">
              <tr><th><center>Title</center></th><td><center>{{ item_detail.title }}</center></td></tr>
              <tr><th><center>Description</center></th><td><center>{{ item_detail.description }}</center></td></tr>
            </table>
          </div>
          <div name="divEdit" style="display: none;">
            <table class="table table-bordered">
              <tr>
                <th><center>taskID</center></th>
                <th><center>Creator</center></th>
                <th><center>Owner</center></th>
                <th><center>dueDate</center></th>
              </tr>
              <tr>
                <td> <center>{{ item_detail.taskId }}</center></td>
                <td> <center>{{ item_detail.creatorName }}</center></td>
                <td> <center><input name="input_Owner_issuedetail_edit" type="search" class="form-control"></center></td>
                <td> <center><input name="input_dueDate_issuedetail_edit" type="search" class="form-control"></center></td>
              </tr>
              <tr>
                <th><center>Assigner</center></th>
                <th><center>AssignTime</center></th>
                <th><center>Status</center></th>
                <th><center></center></th>
              </tr>
              <tr>
                <td> <center>{{ item_detail.assignerName }}</center></td>
                <td> <center>{{ item_detail.assigntime }}</center></td>
                <td> <center>
                  <select class="form-control" name="select_status_issuedetail_edit">
                    <option value="open">open</option>
                    <option value="inprogress">inprogress</option>
                    <option value="review">review</option>
                    <option value="close">close</option>
                  </select>
                </center></td>
                <td> <center></center></td>
              </tr>
            </table>
            <br />
            <table class="table table-bordered">
              <tr>
                <th><center>Title</center></th>
              </tr>
              <tr>
                <td><center><input name="input_title_issuedetail_edit" type="search" class="form-control"></center></td>
              </tr>
              <tr>
                <th><center>Description</center></th>
              </tr>
              <tr>
                <td> <center><input name="input_discription_issuedetail_edit" type="search" class="form-control"></center></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </form>
    {% for j in comment_list %}
    <div class="card" style="margin-top: 10px;">
      <div class="card-header">
        <table>
          <tr>
            <td>
              <span style="font-weight: 800;">Comment</span><span style="color: gray;">(Id:{{j.commentId}})</span>
            </td>
            <td>
              &nbsp&nbsp&nbsp&nbsp
            </td>
            <td>
              <form  method='post' action={{ url_for('tracker.delete', target_table="comment", id=j.commentId, task_id=item_detail.taskId) }} >
                <button type="submit" class="btn btn-outline-primary btn-sm register_btn">Delete</button>
              </form>
            </td>
          </tr>
        </table>
      </div>
       <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <span style="font-weight: 800;"> Commenter:</span>
            <br />
            <span style="color: gray;">{{j.commenterName}}</span>
            <br />
            <span style="font-weight: 800;"> CommentTime:</span>
            <br />
            <span style="color: gray;">{{j.commentTime}}</span>
          </div>
          <div class="col-sm-10">
            <textarea rows="4" cols="50" readonly="true" style="border: 0;resize: none;">{{j.content}}</textarea>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="card" style="margin-top: 10px;">
      <div class="card-header">
        Leave Your Comment
      </div>
      <div class="card-body">
        <form  method='post' action={{ url_for('tracker.new', target_table='Comment', task_id=item_detail.taskId) }} >
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-outline-primary register_btn">Comment!</button>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-12">
              <textarea id="content" name="content" rows="4" cols="50"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

