{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Issue Detail{% endblock title%}

{% block content %}
<!-- <form method="post" action="#"> -->
  <br/>
  <div class="container-xl">

    {% if edit_mode %}
    <!-- <table>
      <tr> -->
        <td style="vertical-align: top;">
          <form  method='post' action={{ url_for('tracker.show_detail', target_table='Task', id=item_detail.taskId, debug=3) }} >
            <button type="submit" class="btn btn-outline-primary register_btn">cancel</button>
          </form>
        </td>
        <td>
          <form  method='post' action={{ url_for('tracker.save', target_table='Task', id=item_detail.taskId) }} >
            <!-- <button type="submit" class="btn btn-outline-primary register_btn">save</button> -->
            
            <div name="divEdit">
              <table class="table table-bordered">
                <tr>
                  <th><center>taskID</center></th>
                  <th><center>Creator</center></th>
                  <th><center>Owner</center></th>
                  <th><center>dueDate</center></th>
                </tr>
                <tr>
                  <td><center>{{ item_detail.taskId }}</center></td>
                  <td><center>{{ item_detail.creatorName }}</center></td>
                  <input type="hidden" name="taskId" value="{{ item_detail.taskId }}">
                  <td><center><input name="taskOwner" type="search" class="form-control" value="{{ item_detail.ownerName }}"></center></td>
                  <td><center><input name="dueDate" type="search" class="form-control" value="{{ item_detail.dueDate }}"></center></td>
                </tr>
                <tr>
                  <th><center>Assigner</center></th>
                  <th><center>AssignTime</center></th>
                  <th><center>Status</center></th>
                  <th><center></center></th>
                </tr>
                <tr>
                  <td><center><input name="Assigner" type="search" class="form-control" value="{{ item_detail.assignerName }}"></center></td>
                  <td><center><input name="AssignTime" type="search" class="form-control" value="{{ item_detail.assigntime }}"></center></td>
                  <td>
                    <center>
                      <select class="form-control" name="status">
                        <option value="open" {% if item_detail.status == 'open' %}selected{% endif %}>open</option>
                        <option value="inprogress" {% if item_detail.status == 'inprogress' %}selected{% endif %}>inprogress</option>
                        <option value="review" {% if item_detail.status == 'review' %}selected{% endif %}>review</option>
                        <option value="close" {% if item_detail.status == 'close' %}selected{% endif %}>close</option>
                      </select>
                    </center>
                  </td>
                  <td><center></center></td>
                </tr>
              </table>
              <br />
              <table class="table table-bordered">
                <tr>
                  <th><center>Title</center></th>
                </tr>
                <tr>
                  <td><center><input name="title" type="search" class="form-control" value="{{ item_detail.title }}"></center></td>
                </tr>
                <tr>
                  <th><center>Description</center></th>
                </tr>
                <tr>
                  <td><center><input name="description" type="search" class="form-control" value="{{ item_detail.description }}"></center></td>
                </tr>
              </table>
            </div>
          </form>
        </td>
      <!-- </tr>
    </table> -->

    {% else %}
      <td>
        <form  method='post' action={{ url_for('tracker.edit', target_table='Task', id=item_detail.taskId) }} >
          <button type="submit" class="btn btn-outline-primary register_btn">edit</button>
        </form>
      </td>
    {% endif %}
      <br />
      <div class="row">
        <div class="col-sm-12">
          {% if not edit_mode %}
            <div name="divShow">
              <table class="table table-bordered">
                <tr>
                  <th><center>taskID</center></th>
                  <th><center>Creator</center></th>
                  <th><center>Owner</center></th>
                  <th><center>dueDate</center></th>
                </tr>
                <tr>
                  <td> <center>{{ item_detail.taskId }}</center></td>
                  <td> <center>{{ item_detail.creatorName }}</center></td>
                  <td> <center>{{ item_detail.ownerName }}</center></td>
                  <td> <center>{{ item_detail.dueDate }}</center></td>
                </tr>
                <tr>
                  <th><center>Assigner</center></th>
                  <th><center>AssignTime</center></th>
                  <th><center>Status</center></th>
                  <th><center></center></th>
                </tr>
                <tr>
                  <td> <center>{{ item_detail.assignerName }}</center></td>
                  <td> <center>{{ item_detail.assigntime }}</center></td>
                  <td> <center>{{ item_detail.status }}</center></td>
                  <td> <center></center></td>
                </tr>
              </table>
              <br />
              <table class="table table-bordered">
                <tr><th><center>Title</center></th><td><center>{{ item_detail.title }}</center></td></tr>
                <tr><th><center>Description</center></th><td><center>{{ item_detail.description }}</center></td></tr>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </form>
    {% for j in comment_list %}
    <div class="card" style="margin-top: 10px;">
      <div class="card-header">
        <table>
          <tr>
            <td>
              <span style="font-weight: 800;">Comment</span><span style="color: gray;">(Id:{{j.commentId}})</span>
            </td>
            <td>
              &nbsp&nbsp&nbsp&nbsp
            </td>
            <td>
              <form  method='post' action={{ url_for('tracker.delete', target_table="comment", id=j.commentId, task_id=item_detail.taskId) }} >
                <button type="submit" class="btn btn-outline-primary btn-sm register_btn">Delete</button>
              </form>
            </td>
          </tr>
        </table>
      </div>
       <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <span style="font-weight: 800;"> Commenter:</span>
            <br />
            <span style="color: gray;">{{j.commenterName}}</span>
            <br />
            <span style="font-weight: 800;"> CommentTime:</span>
            <br />
            <span style="color: gray;">{{j.commentTime}}</span>
          </div>
          <div class="col-sm-10">
            <textarea rows="4" cols="50" readonly="true" style="border: 0;resize: none;">{{j.content}}</textarea>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% if not edit_mode %}
      <div class="card" style="margin-top: 10px;">
        <div class="card-header">
          Leave Your Comment
        </div>
        <div class="card-body">
          <form  method='post' action={{ url_for('tracker.new', target_table='Comment', task_id=item_detail.taskId) }} >
            <div class="row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-outline-primary register_btn">Comment!</button>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-12">
                <textarea id="content" name="content" rows="4" cols="50"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}

