{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Issue Detail{% endblock title%}

{% block content %}
<!-- <form method="post" action="#"> -->
  <br/>
  <div class="container-xl">

    <form  method='post' action={{ url_for('bookstore.save', target_table='task') }} >
      <div class="row">
        <div class="col-sm-12">
          <div name="LV1_button">
            <form  method='post' action={{ url_for('bookstore.empty_form', target_data='Task') }} >
              <button type="submit" class="btn btn-outline-success register_btn">New issue</button>
            </form>
            <form  method='post' action={{ url_for('bookstore.edit', target_data='Task') }} >
              <button type="submit" class="btn btn-outline-primary register_btn">edit</button>
            </form>
            <form  method='post' action={{ url_for('bookstore.delete', target_data='Task') }} >
              <button type="submit" class="btn btn-outline-danger register_btn">delete</button>
            </form>
          </div>
          <div name="LV2_button" style="display: none;">
              <button type="submit" class="btn btn-outline-primary register_btn">save</button>
            <form  method='post' action={{ url_for('tracker.show_detail', target_data='task', id=item_detail.task_id) }} >
              <button type="submit" class="btn btn-outline-primary register_btn">cancel</button>
            </form>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-12">
          <div name="divShow">
            <table class="table table-bordered">
              <tr>
                <th><center>taskID</center></th>
                <th><center>Creator</center></th>
                <th><center>Owner</center></th>
                <th><center>dueDate</center></th>
              </tr>
              <tr>
                <td> <center>{{ item_detail.taskId }}</center></td>
                <td> <center>{{ item_detail.creatorName }}</center></td>
                <td> <center>{{ item_detail.ownerName }}</center></td>
                <td> <center>{{ item_detail.dueDate }}</center></td>
              </tr>
              <tr>
                <th><center>Assigner</center></th>
                <th><center>AssignTime</center></th>
                <th><center>Status</center></th>
                <th><center></center></th>
              </tr>
              <tr>
                <td> <center>{{ item_detail.assignerName }}</center></td>
                <td> <center>{{ item_detail.assigntime }}</center></td>
                <td> <center>{{ item_detail.status }}</center></td>
                <td> <center></center></td>
              </tr>
            </table>
            <br />
            <table class="table table-bordered">
              <tr><th><center>Title</center></th><td><center>{{ item_detail.title }}</center></td></tr>
              <tr><th><center>Description</center></th><td><center>{{ item_detail.description }}</center></td></tr>
            </table>
          </div>
          <div name="divEdit" style="display: none;">
            <table class="table table-bordered">
              <tr>
                <th><center>taskID</center></th>
                <th><center>Creator</center></th>
                <th><center>Owner</center></th>
                <th><center>dueDate</center></th>
              </tr>
              <tr>
                <td> <center>{{ item_detail.taskId }}</center></td>
                <td> <center>{{ item_detail.creatorName }}</center></td>
                <td> <center><input name="input_Owner_issuedetail_edit" type="search" class="form-control"></center></td>
                <td> <center><input name="input_dueDate_issuedetail_edit" type="search" class="form-control"></center></td>
              </tr>
              <tr>
                <th><center>Assigner</center></th>
                <th><center>AssignTime</center></th>
                <th><center>Status</center></th>
                <th><center></center></th>
              </tr>
              <tr>
                <td> <center>{{ item_detail.assignerName }}</center></td>
                <td> <center>{{ item_detail.assigntime }}</center></td>
                <td> <center>
                  <select class="form-control" name="select_status_issuedetail_edit">
                    <option value="open">open</option>
                    <option value="inprogress">inprogress</option>
                    <option value="review">review</option>
                    <option value="close">close</option>
                  </select>
                </center></td>
                <td> <center></center></td>
              </tr>
            </table>
            <br />
            <table class="table table-bordered">
              <tr>
                <th><center>Title</center></th>
              </tr>
              <tr>
                <td><center><input name="input_title_issuedetail_edit" type="search" class="form-control"></center></td>
              </tr>
              <tr>
                <th><center>Description</center></th>
              </tr>
              <tr>
                <td> <center><input name="input_discription_issuedetail_edit" type="search" class="form-control"></center></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </form>
    {% for j in comment_list %}
    <div class="card" style="margin-top: 10px;">
      <div class="card-header">
        Comment &nbsp&nbsp Id:{{j.commentId}} &nbsp&nbsp&nbsp&nbsp
        <form  method='post' action={{ url_for('tracker.delete_comment', target_table = "comment", id=j.commentId, task_id = item_detail.taskId) }} >
          <button type="submit" class="btn btn-outline-primary register_btn">Delete</button>
        </form>
      </div>
       <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            Commenter:
          </div>
          <div class="col-sm-10">
            {{j.commenterName}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            CommentTime:
          </div>
          <div class="col-sm-10">
            {{j.commentTime}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            Comment:&nbsp                        
          </div>
          <div class="col-sm-10">
            <textarea rows="4" cols="50">{{j.content}}</textarea>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="card" style="margin-top: 10px;">
      <div class="card-header">
        Your Comment
      </div>
      <div class="card-body">
        <form  method='post' action={{ url_for('tracker.list_table', target_table='Comment') }} >
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-outline-primary register_btn">Comment!</button>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-12">
              <textarea id="content" name="content" rows="4" cols="50"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

