{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}User Detail{% endblock title%}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'Save error' %}
  
<script language="javascript">

  alert('請確認輸入資料的正確性！');

</script>

{% endif %}
{% endwith %}

<br/>
<div class="container-xl">
<!-- <form method="post" action="#"> -->
  <form  method='post' action={{ url_for('tracker.save', target_table='user') }} >
    <div class="row">
      <div class="col-sm-12">
        <div name="LV1_button">
          <table>
            <tr>
              <td>
                <!-- <form  method='post' action={{ url_for('bookstore.empty_form', target_table='user') }} >
                  <button type="submit" class="btn btn-outline-success register_btn">New User</button>
                </form> -->
              </td>
              <td>
                <form  method='post' action={{ url_for('bookstore.edit', target_data='user') }} >
                  <button type="submit" class="btn btn-outline-primary register_btn">edit</button>
                </form>
              </td>
              <td>
                <form  method='post' action={{ url_for('bookstore.delete', target_data='user') }} >
                  <button type="submit" class="btn btn-outline-danger register_btn">delete</button>
                </form>
              </td>
            </tr>
          </table>
        </div>
        <div name="LV2_button" style="display: none;">
          <table>
            <tr>
              <td>
                <button type="submit" class="btn btn-outline-primary register_btn">save</button>
              </td>
              <td>
                <form  method='post' action={{ url_for('tracker.show_detail', target_data='user', id=item_detail.user_id) }} >
                  <button type="submit" class="btn btn-outline-primary register_btn">cancel</button>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-sm-12">
          <div name="divShow">
            <table class="table table-bordered">
              <tr>
                <th><center>userID</center></th>
                <th><center>supervisor</center></th>
                <th><center>adder</center></th>                          
              </tr>
              <tr>
                <td> <center>{{ item_detail.userId }}</center></td>
                <td> <center>{{ item_detail.supervisorName }}</center></td>
                <td> <center>{{ item_detail.adderName }}</center></td>
              </tr>
            </table>
            <br />
            <table class="table table-bordered">
              <tr>
                <th><center>UserName</center></th>
              </tr>
              <tr>
                <td> <center>{{ item_detail.userName }}</center></td>
              </tr>
            </table>
            <br />
          </div>
          <div name="divEdit" style="display: none;">
            <table class="table table-bordered">
              <tr>
                <th><center>userID</center></th>
                <th><center>supervisor</center></th>
                <th><center>adder</center></th>
              </tr>
              <tr>
                <td> <center></center></td>
                <td> <center><input name="input_supervisor_userdetail_edit" type="search" class="form-control"></center></td>
                <td> <center></center></td>
              </tr>
            </table>
            <br />
            <table class="table table-bordered">
              <tr>
                <th><center>userName</center></th>
              </tr>
              <tr>
                <td><center><input name="input_userName_userdetail_edit" type="search" class="form-control"></center></td>
              </tr>
              <tr>
                <th><center>password</center></th>
              </tr>
              <tr>
                <td> <center><input name="input_password1_userdetail_edit" type="password" class="form-control"></center></td>
              </tr>
              <tr>
                <th><center>double check</center></th>
              </tr>
              <tr>
                <td> <center><input name="input_password2_userdetail_edit" type="password" class="form-control"></center></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


{% endblock content %}

