{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Issue List{% endblock title%}

{% block content %}

<!-- </form> -->



<br/>
<div class="container-xl">
  <form method="post" action={{ url_for('bookstore.list_table', target_table="task") }}>
    <form  method='post' action={{ url_for('bookstore.list_table', target_table="task") }} >
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-outline-primary register_btn">search</button>
          <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="{{ url_for('bookstore.empty_form', target_table = "task") }}">New issue</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1" style="text-align: right;">TaskOwner:</div>
        <div class="col-sm-3">
          <select class="form-select" name="select_taskowner_viewissue_search" action={{ url_for('bookstore.search_filter', action='get_all_member', issue_list='issue_list') }}></select>        
        </div>
        <div class="col-sm-1" style="text-align: right;">Status:</div>
        <div class="col-sm-3">
          <select class="form-control" name="select_status_viewissue_search">
            <option value="all">all</option>
            <option value="open">open</option>
            <option value="inprogress">inprogress</option>
            <option value="review">review</option>
            <option value="close">close</option>
          </select>
        </div>
        <div class="col-sm-1" style="text-align: right;">Keyword:</div>
        <div class="col-sm-3">
          <input name="input_keyword_viewissue_search" class="form-control me-2" type="search" placeholder="type in your keyword..." aria-label="Search">
        </div>
      </div>
    </form>
    <br />
    <table class="table table-bordered">
      <tr>
        <th><center>Function</center></th>
        <th><center>taskID</center></th>
        <th><center>title</center></th>
        <th><center>Status</center></th>
        <th><center>taskOwner</center></th>        
        <th><center>dueDate</center></th>
      </tr>
      {% for i in item_list %}
      <tr>
        <td width="20%">
          <center>
		  <a href="{{ url_for('bookstore.show_detail', target_table='task', id=i.taskId) }}" class="btn btn-outline-success">
			  View Detail
		  </a>
          </center>
        </td>
        <td> <center>{{ i.taskId }}</center></td>
        <td> <center>{{ i.title }}</center></td>
        <td> <center>{{ i.status }}</center></td>
        <td> <center>{{ i.taskOwner }}</center></td>
        <td> <center>{{ i.dueDate }}</center></td>
      </tr>
      {% endfor %}
    </table>

  </form>
</div>

{% endblock content %}

